@charset "UTF-8";
/* CSS Document */

/* Global Open */

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
} 

img { 
border: none; 
margin: 0; 
padding: 0; 
}

.hidden{
  display:none;
}

#siteContainer{
	background-color: #252525;
}

/* Global End */

/*Header start */
#headerlogo{
	background-color: black;
}

.headerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main nav start */
nav {
	font-family: "Segoe UI Light", sans-serif;
	font-size: 22px;
	color: #333;
	text-align: center;
}

#mainNav ul {
  list-style-type: none;
  display: inline-flex;
  background-color: none;
  text-align: center;
}


#mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

#mainNav a:hover {
  background-color: black;
  color: white;
}

#mainNav a.active {
  background-color: none;
  color: #6abc45;
}

/* main nav close */

body {
	font-family: "Segoe UI Light", sans-serif;
	font-size: 16px;
	color: white;
}

.spacebar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 70px;
}

/*Header close */


/*Homepage Open */
/*Hero Image Open*/

#promoText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
  background-image: url("file:///C:/Users/emily/Documents/morgan_e_finalproject/images/homepage/strech_tree.png");
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-position: center; 
  background-repeat: no-repeat; 
  margin-top: 50px;
  margin-bottom: 50px; 
}

.boxtitle {
  font-size: 28px;
  text-align: right;
  column-width: 200px;
  border: 5px solid white;
  word-wrap: normal;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  width: 230px;
  height: 230px;
  margin-top: 90px;
  }


.boxtext{
  font-size: 20px;
  word-wrap:normal;
  width:400px;
  height: 200px;
  margin-left: 40px;
  margin-top: 110px;
}

.colorword{
  color: #6abc45;
}

/*Hero Image Close*/

#productCon {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: block;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}


.imgwtitle h3 {
  color: #6abc45;
  display:inline-block;
  font-size: 23px;
  word-wrap:normal;
  height:10px;
  width:100px;
  margin-left: 20px;
}

.producttext p {
  text-indent: 50px;
  width: 300px;
  padding-top: 20px;
  margin-bottom: 100px;
}
/*Homepage close*/

/*Hunated Grounds Open */

#contentCon {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: block;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
}

#content img {
  padding-right: : 10px;
}

#contentCon h4 {
  color: #6abc45;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contentCon p {
  text-indent: 50px;
}

#content {
  width: 550px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #0a0700;
}

/*Haunted grounds close*/

/*contact open */

#hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#AboutCon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.rightsideCon {
  width: 500px;
  display: block;
  padding: 20px; 
  margin-right: 150px;
}

.rightsideCon p {
  margin-top: 40px;
  width: 500px;
  font-size: 20px;
}

.leftsideCon h2 {
  color: #6abc45;

}

.leftsideCon {
  width: 500px;
  display: block;
  padding: 20px;
  margin-left:150px;
}

/*contact close*/

/*footer open*/

#footerNav nav{
  font-family: "Segoe UI Light", sans-serif;
  font-size: 22px;
  color: #333;
  text-align: left;
  width: 600px;
}

#footerNav ul {
  list-style-type: none;
  display: inline-flex;
  background-color: none;
  text-align: left;
}

#footerNav li a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}


#footerNav a.active {
  background-color: none;
  color: #6abc45;
}

#footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footercopyright{
  margin-top:30px;
  margin-right: 40px;
}

/*footer close*/